@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default, night --prefersdark;
}
@plugin "daisyui/theme" {
  name: winter;
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(15.07% 0.027 232.661);
  --color-secondary: oklch(68.011% 0.158 276.934);
  --color-secondary-content: oklch(13.602% 0.031 276.934);
  --color-accent: oklch(72.36% 0.176 350.048);
  --color-accent-content: oklch(14.472% 0.035 350.048);
  --color-neutral: oklch(27.949% 0.036 260.03);
  --color-neutral-content: oklch(85.589% 0.007 260.03);
  --color-info: oklch(68.455% 0.148 237.251);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(78.452% 0.132 181.911);
  --color-success-content: oklch(15.69% 0.026 181.911);
  --color-warning: oklch(83.242% 0.139 82.95);
  --color-warning-content: oklch(16.648% 0.027 82.95);
  --color-error: oklch(71.785% 0.17 13.118);
  --color-error-content: oklch(14.357% 0.034 13.118);
}

.nav-design-container {
  width: 120%;
  height: 120%;
  opacity: 0.5;
  background-image: radial-gradient(white 6%, transparent 6%),
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color-primary) 25%,
      var(--color-primary) 26%,
      transparent 27%,
      transparent 74%,
      var(--color-primary) 75%,
      var(--color-primary) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color-primary) 25%,
      var(--color-primary) 26%,
      transparent 27%,
      transparent 74%,
      var(--color-primary) 75%,
      var(--color-primary) 76%,
      transparent 77%,
      transparent
    );
  background-size: 85px 75px;
  background-position: 22px 18px, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;

  animation: nav-animation 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes nav-animation {
  from {
    transform: translate(-85px, -75px);
  }
  to {
    transform: translate(0, 0);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-wave {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.loading-bar {
  width: 5px;
  height: 7px;
  margin: 0 3px;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
  @apply bg-primary/70;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 20px;
  }

  100% {
    height: 10px;
  }
}


.hero-img {
  animation: hero-animation 210s linear 0s infinite;
}


@keyframes hero-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
