@import "tailwindcss";
@plugin "daisyui" {
  themes: fantasy --default, night --prefersdark;
}
@plugin "daisyui/theme" {
  name: fantasy;
  --color-base-200: oklch(97.466% 0.011 259.822);
  --color-primary: oklch(75.351% 0.138 232.661);
  --color-primary-content: oklch(1 0 0);
  --color-base-300: oklch(98% 0.003 247.858);
}

.nav-design-container {
  width: 120%;
  height: 120%;
  opacity: 0.5;
  background-image: radial-gradient(white 6%, transparent 6%),
    linear-gradient(
      0deg,
      transparent 24%,
      var(--color-primary) 25%,
      var(--color-primary) 26%,
      transparent 27%,
      transparent 74%,
      var(--color-primary) 75%,
      var(--color-primary) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color-primary) 25%,
      var(--color-primary) 26%,
      transparent 27%,
      transparent 74%,
      var(--color-primary) 75%,
      var(--color-primary) 76%,
      transparent 77%,
      transparent
    );
  background-size: 85px 75px;
  background-position: 22px 18px, 0 0, 0 0;
  background-repeat: repeat, repeat, repeat;

  animation: nav-animation 6000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes nav-animation {
  from {
    transform: translate(-85px, -75px);
  }
  to {
    transform: translate(0, 0);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-wave {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.loading-bar {
  width: 5px;
  height: 7px;
  margin: 0 3px;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
  @apply bg-primary/70;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.6s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 20px;
  }

  100% {
    height: 10px;
  }
}
